<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Civil3DArbitraryCoordinate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PSU.Civil3D.ArbitraryCoordinate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <userSettings>
        <Civil3DArbitraryCoordinate.Properties.Settings>
            <setting name="LabelVariable" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedElevationType" serializeAs="String">
                <value />
            </setting>
            <setting name="LabelStyleName" serializeAs="String">
                <value />
            </setting>
            <setting name="RoundingItem" serializeAs="String">
                <value />
            </setting>
        </Civil3DArbitraryCoordinate.Properties.Settings>
        <PSU.Civil3D.ArbitraryCoordinate.Properties.Settings>
            <setting name="DistanceValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DeltaAngleValue" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="ToleranceValue" serializeAs="String">
                <value>3</value>
            </setting>
        </PSU.Civil3D.ArbitraryCoordinate.Properties.Settings>
    </userSettings>
</configuration>
